# Week 10 - Team Activity
## Assignment
### Core RequirementsÂ¶

The format of each line is:
name id_number job_title salary
There is a single space between each field of data.

Your assignment is to write a program to iterate through each line of this file, gather the information from each field and display or take certain actions depending on the data.

01. Download the file and save it to your computer. In VS Code, open the folder that contains this file. Then, create a new Python script in that folder.

    Have your program open the HR System file, read through it line by line, and at this point, simply display the line to the screen.

02. Split the line into parts and change your display, so that it shows only the names (instead of the whole line).

03. For each line, get the name and the job title for each person, and display those to the screen.

In [4]:
#####
# Date: 2022-03-15
# Week 11 Team Activity
# File: week11-team-activity.py
# Author: Vern Wolfley
# Purpose: Human Resorces System
# Core Requirements
#####

# Path to my directory
file_path = "../assignment_files/hr_system.txt"
hr_files = file_path

with open(hr_files) as employees:
    for employee in employees:
        new_employee = employee.strip()
        print(new_employee)

Alexia 1913 Engineer 84000
Herman 4266 Manager 106000
Jay 5849 Engineer 93000
Ahmad 1326 Tester 85000
Ciaran 2019 Engineer 62000
Callum 8005 Engineer 73000
Samantha 4802 Tester 80000
Antonio 1423 Tester 51000
May 5575 CFO 112000
Sebastian 7378 Scientist 102000
Kaitlyn 4542 Support 63000
William 7364 Tester 74000
Sophie 3437 Engineer 109000
Isaiah 1518 Designer 58000
Aimee 8093 CEO 125000
Patrick 2214 Sales 87000
Gloria 4414 Designer 79000
Joseph 9427 Sales 91000
Barbara 5967 Engineer 104000

In [1]:
# Path to my directory
file_path = "../assignment_files/hr_system.txt"
hr_files = file_path

with open(hr_files) as employees:
    for employee in employees:
        new_employee = employee.strip()
        employee_info = new_employee.split()
        
        name = employee_info[0]
        id_number = employee_info[1]
        job_title = employee_info[2]
        salary = employee_info[3]
        
        output = f'''Name: {name}, Title: {job_title}'''
        print(output)

Name: Alexia, Title: Engineer
Name: Herman, Title: Manager
Name: Jay, Title: Engineer
Name: Ahmad, Title: Tester
Name: Ciaran, Title: Engineer
Name: Callum, Title: Engineer
Name: Samantha, Title: Tester
Name: Antonio, Title: Tester
Name: May, Title: CFO
Name: Sebastian, Title: Scientist
Name: Kaitlyn, Title: Support
Name: William, Title: Tester
Name: Sophie, Title: Engineer
Name: Isaiah, Title: Designer
Name: Aimee, Title: CEO
Name: Patrick, Title: Sales
Name: Gloria, Title: Designer
Name: Joseph, Title: Sales
Name: Barbara, Title: Engineer

## Stretch Challenge
01. Strip off any leading and trailing whitespace from each line.
    In addition to the name and the job title, also access the salary and the ID number and save them into variables. Display all four values in this format: name (ID: id_number), job_title - $salary. Don't forget to convert the salary to a number and display it with two decimals.

02. Instead of displaying the salary information, calculate and display a paycheck amount for the employee. Assume that they are paid twice a month.

03. Change the program so that it generates bonuses for anyone who is an engineer. For each of these employees, add $1000 to their paycheck amount.

### Stretch Challenge 01

In [19]:
# Path to my directory
file_path = "../assignment_files/hr_system.txt"
hr_files = file_path

with open(hr_files) as employees:
    for employee in employees:
        new_employee = employee.strip()
        employee_info = new_employee.split()
        
        name = employee_info[0]
        id_number = employee_info[1]
        job_title = employee_info[2]
        salary = float(employee_info[3])
        
        output = f"{name} (ID: {id_number}), {job_title} - ${salary:,.2f}"
        print(output)

Alexia (ID: 1913), Engineer - $84,000.00
Herman (ID: 4266), Manager - $106,000.00
Jay (ID: 5849), Engineer - $93,000.00
Ahmad (ID: 1326), Tester - $85,000.00
Ciaran (ID: 2019), Engineer - $62,000.00
Callum (ID: 8005), Engineer - $73,000.00
Samantha (ID: 4802), Tester - $80,000.00
Antonio (ID: 1423), Tester - $51,000.00
May (ID: 5575), CFO - $112,000.00
Sebastian (ID: 7378), Scientist - $102,000.00
Kaitlyn (ID: 4542), Support - $63,000.00
William (ID: 7364), Tester - $74,000.00
Sophie (ID: 3437), Engineer - $109,000.00
Isaiah (ID: 1518), Designer - $58,000.00
Aimee (ID: 8093), CEO - $125,000.00
Patrick (ID: 2214), Sales - $87,000.00
Gloria (ID: 4414), Designer - $79,000.00
Joseph (ID: 9427), Sales - $91,000.00
Barbara (ID: 5967), Engineer - $104,000.00

### Stretch Challenge 02

In [21]:
# Path to my directory
file_path = "../assignment_files/hr_system.txt"
hr_files = file_path

with open(hr_files) as employees:
    for employee in employees:
        new_employee = employee.strip()
        employee_info = new_employee.split()
        
        name = employee_info[0]
        id_number = employee_info[1]
        job_title = employee_info[2]
        salary = float(employee_info[3])
        
        paycheck = salary / 24
        
        output = f"{name} (ID: {id_number}), {job_title} - ${paycheck:,.2f}"
        print(output)

Alexia (ID: 1913), Engineer - $3,500.00
Herman (ID: 4266), Manager - $4,416.67
Jay (ID: 5849), Engineer - $3,875.00
Ahmad (ID: 1326), Tester - $3,541.67
Ciaran (ID: 2019), Engineer - $2,583.33
Callum (ID: 8005), Engineer - $3,041.67
Samantha (ID: 4802), Tester - $3,333.33
Antonio (ID: 1423), Tester - $2,125.00
May (ID: 5575), CFO - $4,666.67
Sebastian (ID: 7378), Scientist - $4,250.00
Kaitlyn (ID: 4542), Support - $2,625.00
William (ID: 7364), Tester - $3,083.33
Sophie (ID: 3437), Engineer - $4,541.67
Isaiah (ID: 1518), Designer - $2,416.67
Aimee (ID: 8093), CEO - $5,208.33
Patrick (ID: 2214), Sales - $3,625.00
Gloria (ID: 4414), Designer - $3,291.67
Joseph (ID: 9427), Sales - $3,791.67
Barbara (ID: 5967), Engineer - $4,333.33

### Stretch Challenge 03

In [22]:
# Path to my directory
file_path = "../assignment_files/hr_system.txt"
hr_files = file_path

with open(hr_files) as employees:
    for employee in employees:
        new_employee = employee.strip()
        employee_info = new_employee.split()
        
        name = employee_info[0]
        id_number = employee_info[1]
        job_title = employee_info[2]
        salary = float(employee_info[3])
        
        paycheck = salary / 24
        
        if job_title.lower() == "engineer":
            paycheck += 1000
        
        output = f"{name} (ID: {id_number}), {job_title} - ${paycheck:,.2f}"
        print(output)

Alexia (ID: 1913), Engineer - $4,500.00
Herman (ID: 4266), Manager - $4,416.67
Jay (ID: 5849), Engineer - $4,875.00
Ahmad (ID: 1326), Tester - $3,541.67
Ciaran (ID: 2019), Engineer - $3,583.33
Callum (ID: 8005), Engineer - $4,041.67
Samantha (ID: 4802), Tester - $3,333.33
Antonio (ID: 1423), Tester - $2,125.00
May (ID: 5575), CFO - $4,666.67
Sebastian (ID: 7378), Scientist - $4,250.00
Kaitlyn (ID: 4542), Support - $2,625.00
William (ID: 7364), Tester - $3,083.33
Sophie (ID: 3437), Engineer - $5,541.67
Isaiah (ID: 1518), Designer - $2,416.67
Aimee (ID: 8093), CEO - $5,208.33
Patrick (ID: 2214), Sales - $3,625.00
Gloria (ID: 4414), Designer - $3,291.67
Joseph (ID: 9427), Sales - $3,791.67
Barbara (ID: 5967), Engineer - $5,333.33

In [5]:
# Path to my directory
file_path = "../assignment_files/hr_system.txt"
hr_files = file_path
files = []
bonus = 0
with open(hr_files) as employees:
    for employee in employees:
        new_employee = employee.strip()
        employee_info = new_employee.split()
        
        
        name = employee_info[0]
        id_number = int(employee_info[1])
        job_title = employee_info[2]
        salary = float(employee_info[3])
        
        paycheck = (salary / 24)
        
        if job_title.lower() == "engineer":
            paycheck += 1000
            bonus = 1000
        else:
            bonus = 0
        
        output = f"{id_number:<5}{name:<10}{job_title:<10}${paycheck:,.2f}"
        list = id_number, name, job_title, salary, paycheck, bonus
        files.append(list)
#         print(output)
# print(files)

files.sort(key=lambda x: x[0])

for item in files:
    print(item )

(1326, 'Ahmad', 'Tester', 85000.0, 3541.6666666666665, 0)
(1423, 'Antonio', 'Tester', 51000.0, 2125.0, 0)
(1518, 'Isaiah', 'Designer', 58000.0, 2416.6666666666665, 0)
(1913, 'Alexia', 'Engineer', 84000.0, 4500.0, 1000)
(2019, 'Ciaran', 'Engineer', 62000.0, 3583.3333333333335, 1000)
(2214, 'Patrick', 'Sales', 87000.0, 3625.0, 0)
(3437, 'Sophie', 'Engineer', 109000.0, 5541.666666666667, 1000)
(4266, 'Herman', 'Manager', 106000.0, 4416.666666666667, 0)
(4414, 'Gloria', 'Designer', 79000.0, 3291.6666666666665, 0)
(4542, 'Kaitlyn', 'Support', 63000.0, 2625.0, 0)
(4802, 'Samantha', 'Tester', 80000.0, 3333.3333333333335, 0)
(5575, 'May', 'CFO', 112000.0, 4666.666666666667, 0)
(5849, 'Jay', 'Engineer', 93000.0, 4875.0, 1000)
(5967, 'Barbara', 'Engineer', 104000.0, 5333.333333333333, 1000)
(7364, 'William', 'Tester', 74000.0, 3083.3333333333335, 0)
(7378, 'Sebastian', 'Scientist', 102000.0, 4250.0, 0)
(8005, 'Callum', 'Engineer', 73000.0, 4041.6666666666665, 1000)
(8093, 'Aimee', 'CEO', 125000.0, 5208.333333333333, 0)
(9427, 'Joseph', 'Sales', 91000.0, 3791.6666666666665, 0)